.dem {

  display: grid;


  grid-template-columns:
  minmax(70vmin, 70vh) minmax(240px, 400px);

  grid-template-rows: auto fit-content(0) fit-content(0);

  grid-template-areas:
  'app app'
  '. side';

  .board-replay {
    grid-area: app;


    display: grid;

    grid-template-columns:
    minmax(70vmin, 70vh) minmax(240px, 400px);

    grid-template-areas:
    'board .'
    'board replay'
    'board feedback'
    ;

    grid-column-gap: 2vmin;


    .board {
      grid-area: board;
    }

    .replay {
      grid-area: replay;
    }

    .feedback {
      grid-area: feedback;
    }
  }

  .side {
    grid-area: side;
  }
}


.dem {
  .replay {
    background: #222222;
  }

  .feedback {
    display: flex;
    flex-flow: column;
    padding: 2em;
    background: #302e2c;
    justify-content: center;


    .show {

    }
  }


  .chapters {
    background: #262421;
    max-height: 18em;
    overflow: hidden;
    overflow-y: auto;
    position: relative;
    user-select: none;

    &>div {
      cursor: pointer;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;

      &:hover, &.active {
        color: #ccc;
        background: #2f2835;
      }

      &>span {
        flex: 0 0 1.7em;
        justify-content: center;
        color: #9236e7;
        font-weight: bold;
        height: auto;
        margin-right: .4em;
        opacity: .8;
      }
    }



    h3 {
      font-weight: normal;
      flex: 1 1 100%;
      font-size: 1em;
      line-height: 1;
      margin: 0.5em 0;
      align-self: center;
    }
  }

  a {
    cursor: pointer;
    color: #3692e7;

    &:hover {
      color: #5862e7;
    }
  }
}
