$dark: #293241;
$gray: #cccccc;
$light: #E0FBFC;
$blue: #3D5A80;
$lightblue: #98C1D9;
$lightblue2: #93c4d3;
$orange: #EE6C4D;


$green: #1DD3B0;
$limeyellow: #AFFC41;
$bluegreen: #086375;

$pink: #DF7373;
$lightpink: #E4B1AB;
$lightred: #DA5552;
$red: #CC444B;
