*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.cg-wrap {
  aspect-ratio: 1/1;
}

cg-container {
  top: 0;
  right: 0;
}


cg-board {
  background-image: url('/vendor/chessboard23/blue3.jpg');
  background-size: cover;
}
