@import '_variables';

.app {

  display: flex;
  flex-flow: column;

  .packs {
  }

  .lobby-list {
    li.orange {
      background: $orange;
    }
  }
}

.lobby {
  display: flex;

  .side {
    flex: 1;
  }

  .app {
    flex: 3;
  }
}

.packs {
  display: flex;
  flex-flow: row wrap;
  .pack {
    color: $lightblue;
    user-select: none;
    cursor: pointer;
    flex: 0 0 40%;
    padding: 0.4em;

    & .selected {
      border-bottom: 2px solid $orange;
    }

    .color {
      text-transform: capitalize;
    }
  }
}

.side {
  .footer {
    margin-top: 1em;
  }
}


.challenges {
  display: flex;
  flex-flow: column;
  .gray {
    color: #222222;
  }

  .clear {
    margin-top: 2em;
    cursor: pointer;
    user-select: none;
    align-self: flex-end;

    &:hover {
      color: red;
    }
  }
}
