@import '_variables';

.app {

  display: flex;
  flex-flow: column;

  .pack {
  }

  .lobby-list {
    li.orange {
      background: $orange;
    }
  }
}

.lobby {
  display: flex;

  .side {
    flex: 1;
  }

  .app {
    flex: 3;
  }
}

.side {
  .footer {
    margin-top: 1em;
  }
}


.challenges {
  display: flex;
  flex-flow: column;
  .gray {
    color: #222222;
  }

  .clear {
    margin-top: 2em;
    cursor: pointer;
    user-select: none;
    align-self: flex-end;

    &:hover {
      color: red;
    }
  }
}
