@import '_variables';

.opening-prep-scene, .ai-crunch-scene {
  display: flex;
  gap: 1.2em;

  .board {
    max-width: 80vh;
    flex: 2;
  }

  .table {
    flex: 2;
  }
}

.action, .info {
  padding: 0.5em;
}

.controls {
  padding: 0.2em;
  display: flex;
  justify-content: flex-end;
}

.replay {
  user-select: none;

  .chessreplay {
    min-height: 2em;
    max-height: 50vh;
    height: 50vh;
    padding: 0.5em;
  }
}



.packs, .generations {
  display: flex;
  flex-flow: row wrap;

  .pack, .generation {
    color: $lightblue;
    user-select: none;
    cursor: pointer;
    flex: 0 0 30%;
    padding: 0.4em;

    & .selected {
      border-bottom: 2px solid $orange;
    }

    & .disabled {
      color: $gray;
      opacity: 0.2;
    }

    .color {
      text-transform: capitalize;
    }
  }
}




.compare-scene {
  display: flex;
  flex-flow: column;


  .replays {
    display: flex;
    gap: 0.5em;

    .replay {
      flex: 1;
    }
  }
}
